{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <title>Buraiqu Anwar</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body class="bg2">
    <br><br><br>
    <header>
        <nav class="navbar navbar-expand-lg bg ">
            <div class="container-fluid">
                <a class="navbar-brand disabled" style="margin-left: 50px;"><i class="logo">B.</i></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="material-symbols-outlined menu1">menu</span>
                </button>
                <div class="collapse navbar-collapse nav122" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="#home"><span class="nv1">Home</span> </a>
                        <a class="nav-link" href="#About"><span class="nv1">About</span></a>
                        <a class="nav-link" href="#Experience"><span class="nv1">Experience</span></a>
                        <a class="nav-link" href="#Works"><span class="nv1">Work</span></a>
                        <a class="nav-link" href="#Contact"><span class="nv1">Contact</span></a>
                        <form action="https://www.baabtra.com/" target="_blank">
                            <input type="submit" class="btn12" value="Resume">
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </header>    
    <div class="sidebar">
        <!-- <div class="collapse sidebar-collapse" id="sidebarNavAltMarkup"> -->
        <span class="vl"></span><br><br><br><br><br>
        <ul class="nav">
            <li></li>
            <li>
                <a href="https://github.com/Buraiqu" class="fa fa-github" aria-label="GitHub" target="_blank">
                    <title>GitHub</title>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/buraiquanwar/" class="fa fa-instagram" aria-label="Instagram"
                    target="_blank">
                    <title>Instagram</title>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/BuraiquAnwar" class="fa fa-twitter" aria-label="Twitter" target="_blank">
                    <title>Twitter</title>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/buraiqu-anwar-068022250/" class="fa fa-linkedin"
                    aria-label="Linkedin" target="_blank">
                    <title>LinkedIn</title>
                </a>
            </li>
            <li>
                <a href="https://codepen.io/Buraiqu" class="fa fa-codepen" aria-label="Codepen" target="_blank">
                    <title>CodePen</title>
                </a>
            </li>
            <br><br><br>
            <li>
                <a class="right12" href="mailto:buraiquanwar@gmail.com">buraiquanwar@gmail.com</a>
            </li>
        </ul>
    </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid main1" id="home">
            <h1 class="h11">Hi,My name is</h1>
            <span class="h22">Buraiqu Anwar.</span>
            <p class="p11">Im a web developer. Currently I'm doing my internship in<br> <i>Pyhton Django</i>
                at <b style="color: rgb(11, 190, 118);">Baabtra.</b> I’m focused on building <br>
                accessible, human-centered products.
            </p>
            <br>
            <br>
            <form action="https://www.baabtra.com/" target="_blank">
                <input type="submit" class="btn12" value="Baabtra">
            </form>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row-fluid align-items-start main1" id="About">
            <div class="row">
                <div class="col col-sm-2 justify-content-right">
                    <h2 class="h21">About Me</h2>
                </div>
                <div class="col col-sm-2">
                    <hr class="hr12">
                </div>
            </div>
            <br>
            <div class="p11">
                <p>Hello! My name is Buraiqu and I enjoy creating things that live<br>
                    on the internet. My interest in web development started back in<br>
                    2014. This interest lead me learn a lot about HTML &amp; CSS!</p>
                <p>Fast-forward to today, and I’ve completed my degree in Bachelor<br>
                    of Computer Science under <a href="https://www.uoc.ac.in/" style="color: rgb(11, 190, 118);" target="_blank">Calicut University</a> and doing my <br> 
                    internship at Baabtra. My main focus these days is building <br>
                    accessible, inclusive websites.
                </p>
                <p>I have attended different workshops regarding web development<br>
                    and related matters. I have attended the 20 day workshop from<br>
                    <a href="https://brototype.in/" style="color: rgb(11, 190, 118);" target="_blank">Brototype</a>
                    which helped have a better work ethic and understand<br> 
                    the importance of self study.  
                </p>
                <p>Here are a few technologies I’ve been working with recently:</p>
            </div>
            <ul class="list1">
                <li>Python</li>
                <li>CSS</li>
                <li>Bootstrap</li>
                <li>Django</li>
                <li>PostgresSQL</li>
            </ul>
            <br><br><br><br><br>
        </div>
        <div class="row-fluid align-items-start main1" id="Experience">
            <div class="row">
                <div class="col col-sm-2 justify-content-right">
                    <h2 class="h21">Experience</h2>
                </div>
                <div class="col col-sm-2">
                    <hr class="hr12">
                </div>
            </div>
            <br>
            <br>
            <div class="p11">
                <h2 class="h11">Riss Technologies</h2>
                <p>November 2021- February 2022</p>
                <p>Intern</p>
                <p>
                    Worked with a team of three designers to build a marketing <br>
                    website and e-commerce platform using python and flask.
                </p>
                <p>
                    Developed a Kerala based tourism website.
                </p>
                <br>
                <form action="https://risstechnologies.business.site/" target="_blank">
                    <input type="submit" class="btn13" value="Riss Technologies">
                </form>
                <br>
                <br>
                <h2 class="h11">Baabtra</h2>
                <p>October 2022-</p>
                <p>Intern</p>
                <p>
                    Working on an e-commerce websiste
                </p>
                <br>
                <form action="https://www.baabtra.com/" target="_blank">
                    <input type="submit" class="btn12" value="Baabtra">
                 </form>
            <br><br><br><br>
            </div>
        </div>
        <div class="row-fluid align-items-start main1" id="Works">
            <div class="row">
                <div class="col col-sm-2 justify-content-right">
                    <h2 class="h21">Works</h2>
                </div>
                <div class="col col-sm-2">
                    <hr class="hr12">
                </div>
            </div>
            <br>
            <br>
            <h2 class="h11">Kerala Tourism</h2>
            <img src="{% static 'Images/kt.png' %}"><br>
            <div class="p11">
                <p>
                A Kerala based tourism website which consist of Hotel bookings <br>
                and Travel agency bookings.It also provide information about all<br>
                the tourist destination and restaurants in a particular city with<br>
                its location.It also provides guides from the city you're visiting.
                </p>
                <p style="color: rgb(52, 184, 129);"><b>
                    Python     Flask      CSS       Bootstrap       PostgresSQL
                </b></p>
            </div> 
            <br><br><br><br><br>
        </div>
        <div class="row-fluid align-items-center justify-content-center main1" id="Contact">
            
            <div class="row">
                <div class="col col-sm-2">
                    <h2 class="h21">Contact</h2>
                </div>
                <div class="col col-sm-2">
                    <hr class="hr12">
                </div>
                
            </div>
            <br>
            <br>
            
            <h2 class="h11">Get In Touch</h2>

            <p class="p11">Although I’m not currently looking for any new opportunities,<br>
                my inbox is always open. Whether you have a question or just<br>
                 want to say hi, I’ll try my best to get back to you!</p>
                 <br>
                <form action="mailto:buraiquanwar@gmail.com" target="_blank">
                    <input type="submit" class="btn13" value="Say Hello!">
                </form>
                <br><br><br><br>
        </div>    
    </div>
    <div class="footer1">
        <div class="sidebar-toggler" data-bs-toggle="collapse" data-bs-target="#sidebarNavAltMarkup" aria-controls="sidebarNavAltMarkup" aria-expanded="false"
        aria-label="Toggle navigation">
        <span></span>
        </div>

        <center>
            <div>Designed &amp; Built by Buraiqu Anwar</div>
        </center>
    </div>

</body>

</html>